In [1]:
import pandas as pd
import numpy as np

df1=pd.read_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\OUTPUT_FILES\verified_infractions_first_check.csv')
df1 = df1[df1['root_cause'] == 'duplicate']
df1['Data']=df1['Data'].apply(lambda st: st[st.find("https://tt"):])
df1['Data']=df1['Data'].apply(lambda x: x[:32])

df1['inside_caseid']=df1['Data'].apply(lambda st: st[st.find("com/")+4:])
df1 = df1.rename(columns = {"case_id": "ShortId"}) 
df1.to_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\OUTPUT_FILES\verified_duplicate_t1.csv', index = False)

df1

,ShortId,details,root_cause,tid,Data,Infraction,Additional_Details,Infraction1,Infraction2,First_Status,inside_caseid
23,425870687,"Delivery Station (Station Code, City, State): ...",duplicate,TBA148867574000,https://tt.amazon.com/0425875106,as duplicate of https://tt.amazon.com/042587510,NaN,NaN,NaN,NS,0425875106
40,425889886,"Delivery Station (Station Code, City, State): ...",duplicate,TBA177967441000,https://tt.amazon.com/0425890277,as duplicate of https://tt.amazon.com/042589027,NaN,NaN,NaN,NS,0425890277
91,425839677,"Delivery Station (Station Code, City, State): ...",duplicate,TBA146447925000,https://tt.amazon.com/0425839990,as duplicate of https://tt.amazon.com/042583999,NaN,NaN,NaN,NS,0425839990
127,425901953,"Delivery Station (Station Code, City, State): ...",duplicate,TBA186972316000,https://tt.amazon.com/0425901364,of:https://tt.amazon.com/042590136,NaN,NaN,NaN,NS,0425901364
159,425884328,"Delivery Station (Station Code, City, State): ...",duplicate,TBA183570455000,https://tt.amazon.com/0425889544,as duplicate of :https://tt.amazon.com/042588954,NaN,NaN,NaN,NS,0425889544
...,...,...,...,...,...,...,...,...,...,...,...
1755,310210723,"Delivery Station (Station Code, City, State): ...",duplicate,TBA000558708401,https://tt.amazon.com/0310208166,as duplicate of : https://tt.amazon.com/031020816,NaN,NaN,NaN,NS,0310208166
1789,310232453,"Delivery Station (Station Code, City, State): ...",duplicate,TBA201430491000,https://tt.amazon.com/0310204979,as duplicate of https://tt.amazon.com/031020497,NaN,NaN,NaN,NS,0310204979
1809,310201761,"Delivery Station (Station Code, City, State): ...",duplicate,TBA000830088901,https://tt.amazon.com/0310203228,as duplicate of https://tt.amazon.com/031020322,NaN,NaN,NaN,NS,0310203228
1821,310210805,"Delivery Station (Station Code, City, State): ...",duplicate,TBA000653963201,https://tt.amazon.com/0310210317,as duplicate of https://tt.amazon.com/031021031,NaN,NaN,NaN,NS,0310210317
1833,310231852,"Delivery Station (Station Code, City, State): ...",duplicate,TBA000948799301,https://tt.amazon.com/0310230299,as duplicate of https://tt.amazon.com/031023029,NaN,NaN,NaN,NS,0310230299

In [3]:
# df1['inside_caseid']=df1['Data'].apply(lambda st: st[st.find("com/")+5:])
# df2 = df2.rename(columns = {"case_id": "ShortId"}) 
# # df1["inside_caseid"] = pd.to_numeric(df1["inside_caseid"],errors='coerce')
# df1["inside_caseid"] =df1["inside_caseid"].fillna('No data available')

# # df1["inside_caseid"]=df1["inside_caseid"].astype(int).astype(str)
# df1.to_csv(r'C:\Users\majidmm\Documents\MTI\duplicate_t1.csv', index = False)
# # df1.dropna()
# df1

In [5]:
df2=pd.read_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\OUTPUT_FILES\verified_duplicate_t1.csv')
df2 = df2.rename(columns = {"inside_caseid":"case_id"}) 

df3=pd.read_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\INPUT_FILES\audit_query.csv',usecols=('case_id','details','root_cause','tid'),encoding='ISO-8859-1')
# df3 = df3[df3['root_cause'] == 'Duplicate']


df2["case_id"] = pd.to_numeric(df2["case_id"],errors='coerce')
df3["case_id"] = pd.to_numeric(df3["case_id"],errors='coerce')

df4=df2.merge(df3,on='case_id',how='left')
# df6=pd.concat([df2, df3],join="inner")
df4['details_x']=df4['details_x'].astype(str)

df4['details_y']=df4['details_y'].astype(str)

df4['DAID_1']=df4['details_x'].apply(lambda st: st[st.find("(Transporter ID):")+17:st.find("Zip code of occurrence")])
df4['DAID_2']=df4['details_y'].apply(lambda st: st[st.find("(Transporter ID):")+17:st.find("Zip code of occurrence")])



df4['tid_Status']=np.where(df4['tid_x']==df4['tid_y'],'True','False')
df4['daid_Status']=np.where(df4['DAID_1']==df4['DAID_2'],'True','False')


df4.drop_duplicates(subset ="ShortId",keep = False, inplace = True) 


df4.to_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\OUTPUT_FILES\verified_duplicate_t2.csv', index = False)
df4

,ShortId,details_x,root_cause_x,tid_x,Data,Infraction,Additional_Details,Infraction1,Infraction2,First_Status,case_id,details_y,root_cause_y,tid_y,DAID_1,DAID_2,tid_Status,daid_Status
0,425870687,"Delivery Station (Station Code, City, State): ...",duplicate,TBA148867574000,https://tt.amazon.com/0425875106,as duplicate of https://tt.amazon.com/042587510,NaN,NaN,NaN,NS,425875106.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA148867574000,A1CYOCB75FHCMC,A1CYOCB75FHCMC,True,True
1,425889886,"Delivery Station (Station Code, City, State): ...",duplicate,TBA177967441000,https://tt.amazon.com/0425890277,as duplicate of https://tt.amazon.com/042589027,NaN,NaN,NaN,NS,425890277.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA177967441000,A2NDJPAX1MWBVK,A2NDJPAX1MWBVK,True,True
2,425839677,"Delivery Station (Station Code, City, State): ...",duplicate,TBA146447925000,https://tt.amazon.com/0425839990,as duplicate of https://tt.amazon.com/042583999,NaN,NaN,NaN,NS,425839990.0,"Delivery Station (Station Code, City, State): ...",T2 - Behavioral - Incorrectly scanned delivere...,TBA146447925000,A11MLOF3MZIM9M,A11MLOF3MZIM9M,True,True
3,425901953,"Delivery Station (Station Code, City, State): ...",duplicate,TBA186972316000,https://tt.amazon.com/0425901364,of:https://tt.amazon.com/042590136,NaN,NaN,NaN,NS,425901364.0,"Delivery Station (Station Code, City, State): ...",T2 - Package Mishandling - Throwing/tossing,TBA186972316000,106136388,106136388,True,True
4,425884328,"Delivery Station (Station Code, City, State): ...",duplicate,TBA183570455000,https://tt.amazon.com/0425889544,as duplicate of :https://tt.amazon.com/042588954,NaN,NaN,NaN,NS,425889544.0,Who reported the incident?: Customer / Witness...,T2 - Unsafe driving behavior - Property Damage,TBA183570455000,A26G97N10AMKA9,incident?: Customer / Witness Station Name...,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10603,310210723,"Delivery Station (Station Code, City, State): ...",duplicate,TBA000558708401,https://tt.amazon.com/0310208166,as duplicate of : https://tt.amazon.com/031020816,NaN,NaN,NaN,NS,310208166.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA000558708401,AKY3LZRYYXKM3,AKY3LZRYYXKM3,True,True
10604,310232453,"Delivery Station (Station Code, City, State): ...",duplicate,TBA201430491000,https://tt.amazon.com/0310204979,as duplicate of https://tt.amazon.com/031020497,NaN,NaN,NaN,NS,310204979.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA201430491000,A1GORARA6ELJ09,0000,True,False
10605,310201761,"Delivery Station (Station Code, City, State): ...",duplicate,TBA000830088901,https://tt.amazon.com/0310203228,as duplicate of https://tt.amazon.com/031020322,NaN,NaN,NaN,NS,310203228.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA000830088901,AV8MU31KU4HC3,AV8MU31KU4HC3,True,True
10606,310210805,"Delivery Station (Station Code, City, State): ...",duplicate,TBA000653963201,https://tt.amazon.com/0310210317,as duplicate of https://tt.amazon.com/031021031,NaN,NaN,NaN,NS,310210317.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA000653963201,A36PXL6SNH21VF,A36PXL6SNH21VF,True,True
10607,310231852,"Delivery Station (Station Code, City, State): ...",duplicate,TBA000948799301,https://tt.amazon.com/0310230299,as duplicate of https://tt.amazon.com/031023029,NaN,NaN,NaN,NS,310230299.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA000948799301,A24FVSSA1SPBMH,A24FVSSA1SPBMH,True,True